@page "/courses"
@using Studentify.Models;
@using Studentify.Web.Services;
@inject ICourseService courseService;


<hr />
@*Action Will bind search to http *@
<form action="/courses/@SearchTerm" method="get">
    <div class="input-group flex-center">
        <input class="form-control" @bind-value="@SearchTerm" />
        <div class="input-group-append">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </div>
</form>
<hr />

<div class="d-flex align-items-center py-5 mb-5">
    <a href="@($"courses/add-course")" class="btn btn-secondary add-course-button">Add Course</a>
    <span class="text-center list-courses-title"> Top courses</span>
</div>


<div class="container-fluid p-2">
    <div class="row pl-3">
        @if (Courses == null)
        {
            //<h3>Loading</h3>
            <div class="spinner"></div>
        }
        else
        {

            <div class="card-deck">
                @foreach (var course in Courses)
                {
                    <div class="card m-3" style="min-width: 18rem; max-width:30.5%;">
                        @*<div class="card-header">
                            <h3>@course.CourseName</h3>

                        </div>*@

                        <img class="card-img-top imageThumbnail" src="https://mdbootstrap.com/img/Photos/Others/images/51.jpg" />



                        <div class="card-body">

                            <!--Title-->
                            <h4 class="card-title darkgrey-text">
                                <strong class="fixed-height-title">@course.CourseName</strong>
                            </h4>
                            <hr>
                            <!--Text-->
                            <p class="font-small fixed-height-description">
                                @course.Description
                            </p>
                            <a href="#" class="black-text d-flex flex-row-reverse">
                                <p class="waves-effect p-2 font-small blue-text mb-0">
                                    Read more
                                    <i class="fas fa-long-arrow-alt-right ml-2" aria-hidden="true"></i>
                                </p>
                            </a>
                        </div>


                        <div class="card-footer text-center">
                            <a href="/courses/details/@course.CourseId" class="btn btn-primary m-1">Details</a>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</div>

@code
{
    [Inject]
    public ICourseService CourseService { get; set; }


    public IEnumerable<Course> Courses { get; set; }

    [Parameter]
    public string SearchTerm { get; set; } = "";

    protected override async Task OnInitializedAsync()
    {
        Courses = (await CourseService.GetCourses()).ToList();
    }


    //private IEnumerable<Course> courses = null;
    //protected override async Task OnInitializedAsync()
    //{
    //    await base.OnInitializedAsync();
    //    courses = await courseService.GetCourses();
    //}
}