@page "/courses"
@inject ICourseService courseService;


<section class="container pb-5 lapDiv" id="top">
    <h1 class="display-3">Courses</h1>
    <p>
        Get inspiration from our popular courses or just browse through our range of courses. We offer courses spanning from basic math courses to the more advanced ASP.NET Core course.
        Can't find what you are interested in? 
    <a href="mailto:contact@studentify.com">Please let us know</a>
    </p>

    @*Action Will bind search to http *@
    <form action="/courses/@SearchTerm" method="get">
        <div class="input-group flex-center w-100">
            <input class="form-control" placeholder="Find course" @bind-value="@SearchTerm" />
            <div class="input-group-append">
                <button type="submit" class="btn btn-info ml-3">Search</button>
            </div>
        </div>
    </form>

    <div>
        @if (Courses == null)
        {
            <div class="spinner"></div>
        }
        else
        {

            <PopularCourses Courses="@Courses" />

            <div class="container">
                <h3 class="text-center mt-5">All of our courses</h3>

                <div class="row">
                    <div class="col-md-3 border mt-1">
                        <a href="@($"courses/add-course")" class="btn btn-secondary embed-responsive">Add Course</a>
                        <hr />
                        <h4>Sort by</h4>
                        <form>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="sort" value="name" checked />
                                <label class="form-check-label" for="Name">Course Name</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="sort" value="id" />
                                <label class="form-check-label" for="id">Course Id</label>
                            </div>
                        </form>
                    </div>

                    <div class="col-lg-9 pt-1">
                        @foreach (var course in Courses)
                        {
                            <div class="row">
                                <div class="col-3">
                                    <img class="d-block w-100 mx-auto" style="max-height:200px" src="@(course.ImageUrl)" alt="@course.CourseName" />
                                </div>
                                <div class="col-md-7">
                                    <h4>@course.CourseName</h4>
                                    <p>@course.Description</p>
                                </div>
                                <div class="col-md-2 d-flex flex-row">
                                    <a href="@($"/courses/details/{course.CourseId}")" class="btn btn-secondary align-self-end">Details</a>
                                </div>
                            </div>
                            <hr />
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</section>

<div class="d-flex justify-content-center pb-3">
    <a class="text-center" href="/courses/#top">Back to top <span class="oi oi-arrow-top"></span></a>
</div>

@code
{
    [Inject]
    public ICourseService CourseService { get; set; }


    public IEnumerable<Course> Courses { get; set; }

    [Parameter]
    public string SearchTerm { get; set; } = "";

    protected override async Task OnInitializedAsync()
    {
        Courses = (await CourseService.GetCourses()).ToList();
    }

}