@page "/Students/{name}"

@using Studentify.Models;
@using Studentify.Web.Services;
@using Microsoft.AspNetCore.Components;
@using System.Collections.Generic;
@using System.Linq;
@using System.Threading.Tasks;


<div class="lapDiv"></div>
<div class=" container">
    <h3>Student Search</h3>

    <hr />
    @*Action Will bind search to http *@
    <form action="/students/@SearchTerm" method="get">
        <div class="input-group flex-center">
            <input class="form-control" @bind-value="@SearchTerm" />
            <div class="input-group-append">
                <button type="submit" class="btn btn-primary">Search</button>
                <a href="@($"/Students")" class="btn btn-success">Back to StudentList</a>
            </div>
        </div>
    </form>
    <hr />



    <div class="container-fluid border p-2">
        <div class="row pl-3">
            @if (Students == null)
            {
                <h3>Loading</h3>
            }
            else
            {
                <div class="col-sm-3 border mt-1">
                    <h4>Sort by</h4>
                    <form>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="sort" value="name" checked />
                            <label class="form-check-label" for="Name">Student Name</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="sort" value="id" />
                            <label class="form-check-label" for="id">Student Id</label>
                        </div>
                    </form>
                </div>
                <div class="col-sm-9 pt-1">
                    @foreach (var student in Students)
                    {
                        <div class="container row">
                            <div class="col-4">
                                <img class="d-block w-auto mx-auto" style="max-height:200px" src="@(student.ImageUrl == null? "/images/default.png" : student.ImageUrl)" alt="@student.StudentName" />
                            </div>
                            <div class="col-lg-6">
                                <h4>@student.StudentName</h4>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis eius qui, non modi sint a.</p>
                            </div>
                            <div class="col-lg-2 d-flex flex-row">
                                <button class="btn btn-secondary align-self-end">Details</button>
                            </div>
                        </div>
                        <hr />
                    }
                </div>
            }
        </div>
    </div>
</div>
    @code
{

        [Inject]
        public IStudentService StudentService { get; set; }


        public IEnumerable<Student> Students { get; set; }

        [Parameter]
        public string SearchTerm { get; set; }


        [Parameter]
        public string name { get; set; }


        protected override async Task OnInitializedAsync()
        {
            Students = (await StudentService.Search(name)).ToList();
        }

    }
