@page "/teachers"

<section class="container pb-5 lapDiv" id="top">

    <h1 class="display-3">Teachers</h1>
    <p>
        Our belief is that teachers are at the center of all knowledge and their wisdom is the key for you as a student to flourish.
        Are you a teacher who wants to join us and teach via the Studentify plattform? <a href="mailto:contact@studentify.com">Please let us know</a>
    </p>


    @*Action Will bind search to http *@
    <form action="/teachers/@SearchTerm" method="get">
        <div class="input-group flex-center w-100">
            <input class="form-control" placeholder="Find teacher" @bind-value="@SearchTerm" />
            <div class="input-group-append">
                <button type="submit" class="btn btn-info ml-3">Search</button>
            </div>
        </div>
    </form>

    <div class="container my-5">
        <div class="row">
            @if (Teachers == null)
            {
                <div class="spinner"></div>
            }
            else
            {
                <div class="col-lg-3 border mt-1">
                    <a href="@($"Teachers/AddTeacher")" class="btn btn-secondary embed-responsive">Add Teacher</a>
                    <hr />
                    <h4>Sort by</h4>
                    <form>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="sort" value="name" checked />
                            <label class="form-check-label" for="Name">Teacher Name</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="sort" value="id" />
                            <label class="form-check-label" for="id">Teacher Id</label>
                        </div>
                    </form>
                </div>

                <div class="col-lg-9 pt-1">
                    @foreach (var teacher in Teachers)
                    {
                        <div class="container row">
                            <div class="col-3">
                                <img class="d-block w-100 mx-auto" style="max-height:200px" src="@(teacher.ImageUrl == null? "/images/default.png" : teacher.ImageUrl)" alt="@teacher.TeacherName" />
                            </div>
                            <div class="col-lg-7">
                                <h4>@teacher.TeacherName</h4>
                                @foreach (var course in teacher.Courses)
                                {
                                    <div class="col-lg-12">
                                        <h4>@course.CourseName</h4>
                                        <p>@course.Description</p>
                                    </div>
                                }
                            </div>
                            <div class="col-lg-2 d-flex flex-row">
                                <a href="@($"TeacherDetails/{teacher.TeacherId}")" class="btn btn-secondary align-self-end">Details</a>
                            </div>
                        </div>
                        <hr />
                    }
                </div>
            }
        </div>
    </div>

</section>

<div class="d-flex justify-content-center pb-3">
    <a class="text-center" href="/teachers/#top">Back to top <span class="oi oi-arrow-top"></span></a>
</div>


@code {

    [Inject]
    public ITeacherService TeacherService { get; set; }


    public IEnumerable<Teacher> Teachers { get; set; }

    [Parameter]
    public string SearchTerm { get; set; } = "";

    protected override async Task OnInitializedAsync()
    {
        Teachers = (await TeacherService.GetTeachers()).ToList();
    }


}
